@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Inter", serif;
}
html, body{
    background: #fff5f5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container h1{
    color: #3B1E54;
    font-size: 5rem;
    padding-bottom: 2rem;
}
.container button{
    cursor: pointer;
    border: none;
    background: #3B1E54;
    color: white;
    padding: 1rem 2rem ;
    border-radius: 3.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.colorsContainer{
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.colorsContainer .colors{
    width: 200px;
    height: 200px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}